<%- include('includes/header'); %>


<section class="container">
  <h1>Please, tell us your full name</h1>

  <form action="/post" method="POST" >
    <input type="text" id="fullName" 
      name="fullName" placeholder="Type your full name here" />
    <br />
    <input type="submit" value="Submit" />
  </form>
</section>

<%- include('includes/footer'); %>